# Grails

application-DEVELOPMENT.yml
application-TEST.yml

# Gradle

build/
.gradle/

# Eclipse

.project
.classpath
.settings/

# IDEA

*.iml
*.ipr
*.iws
.idea/
/.DS_Store
/classes
/grails-plugin/.DS_Store
